.column1{

    float: left;
    
    
    padding: 1px;
   }
  
.column2{
	float: right;
    width: 28%;
    height: 50%;
    
}
.row1{
	padding: 2px;
	margin: 2px;


}
.row2{

	padding: 2px;
	margin: 2px;

}
.column1{

	display: inline-block;
}

.overlay{
    opacity: 0;
    height: 50%;
    width: 50%;
    background-color: lightblue;
    position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px;
   
}

.bigImg{
	
	
}
